exportPattern("^[[[:alnum:]]_]+")
export("read_json_from_file")
export("process_mpower_data")

import(synapseClient)
import(fractal)
import(pracma)
import(changepoint)
import(lomb)
import(uuid)
import(crayon)
import(RCurl)
importFrom(rjson, toJSON, fromJSON)
